table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
  
  table {
    width: 60%; /* weboldal szélessége */
    background-color: rgb(19, 180, 201);  /* háttérszín */
    color: rgb(232, 238, 235); /* betűszín */
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
  }
  
  th {
    background-color: rgb(35, 85, 143);
  }
  #keses{
    background-color: crimson;
  }
  .paratlan_sor{
    background-color: rgb(26, 98, 165);
  }