table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
  
  table {
    width: 50%; /* weboldal szélessége */
    background-color: rgb(12, 121, 12);  /* háttérszín */
    color: rgb(232, 238, 235); /* betűszín */
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
  }
  
  th {
    background-color: rgb(35, 85, 143);
  }